<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head.ejs') %>
    <title>MercadoLiebre</title>
</head>
<body>
    <!--HEADER-->
    <%- include('./partials/header.ejs') %>
    
    <div class="banner">
        <img src="images/img-home-banner.jpg" alt="Banner">
    </div>

    <main>
        <section class="products-section">
            <h3 class="section-title">Basado en tu última compra</h3>
            <%- include('./components/product', {products}); %>
        </section>

        <section class="products-section" id="oferta">
            <h3 class="section-title">Sección de Ofertas</h3>
        
            <%- include('./components/product', {products}); %>
        </section>
    </main>
    <!--FOOTER-->
    <%- include('./partials/footer.ejs') %>
</body>
</html>